# Python & Virtual Env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Git
.git/
.gitignore

# Env files (보안)
.env
.env.*
token.json

# IDE
.vscode/
.idea/

# Docker
Dockerfile
.dockerignore
